<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Learning Vue</title>
  </head>
  <body>
    <div id="app">
      <p>
        I'm
        <span v-if="graduated">graduated</span>
        <span v-else>undergraduate</span>
        and I have
        <span v-if="yearsOfExperience > 5">more</span>
        <span v-else>less</span>
        than five years of experience.
      </p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
